.links4 {
    text-decoration: none;
}

#refhead {
    background-color: skyblue;
    font-family: 'Oxygen', sans-serif;
}

.info {
    color: #0f000f;
    font-family: 'Noto Serif', serif;

}
#site-ref {
    background-color: #0f000f;
}
#map-bg {
    background-color: #0f000f;

}